
div{
    background-color: lightgray;
}
.card{
    border-style:solid ;
     
 border-width: 3px;
 border-color: black;
 width: 350px;
 border-radius: 20px;
 overflow: hidden;


 text-align: center;


 margin-top: 50px;
 margin-left: auto;
 margin-right: auto;


 background-color: white;

}
.card img{
    width:100%;
}
body{
    background-color: antiquewhite;
    margin: 0;
}
.card button{
 width: 70%;
 border-radius: 20px;
 padding: 10px;
 margin-bottom: 10px;
}
.navbar{
text-align: center;
border: 3px solid black;
padding-top:20px ;
padding-bottom:20px ;
background-color: white;

}
.navbar a{
    margin-right: 20px;
    text-decoration: none;
    color: grey;
    
}
.navbar a:hover{
    color: black;
    text-decoration: underline;

}